<!-- Footer Codes to be embeded under footer tag -->
    {% load staticfiles %}

<footer class="text-muted">
	<div class="container text-center text-dark">
		<hr>
		 <!--footer class="pt-4 my-md-5 pt-md-5 border-top"-->
    <div class="row">
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
		<li><a class="text-muted" href="{% url 'bug_index' %}">Bugs</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
		<li><a class="text-muted" href="{%url 'weblog_index' %}">Blog</a></li>
		<li><a class="text-muted" href="{% url 'project_index' %}">Project</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.linkedin.com/in/ashwini33/" target="_blank">LinkedIn</a></li>
          <li><a class="text-muted" href="https://github.com/ashwini33" target="_blank#">GitHub</a></li>
        </ul>
      </div>
    </div>
  
  
    <p> <a class="text-info" href="https://github.com/ashwini33/portfolio" target="_blank">Opensource</a> and Free @ {% now 'Y'%} </p>
  </div>
</footer>

<!-- -->
