<!doctype html>
<html lang="en">
  <head>
  {% include 'base/head.html' %}  
  </head>
  
  
  <body>
    <header>
        {% include 'base/header.html' %}
    </header>

<main role="main">

	<section class="jumbotron text-center" style="background-color: #55595c;border-radius:0px;">
    <div class="container rounded">
      <h1 class="jumbotron-heading text-light"> Hi, I'm ashwini<h1>
      <p class="lead text-light">Architecting cloud solutions for solving people's issues keeps me motivated to learn, integrate and deploy new technologies.</p>
      <p>
      <a href="mailto:kr.ashwini07@gmail.com?subject=Wildtree&body=" class="btn btn-primary my-2">Email Me</a>
      <a class="btn btn-secondary my-2" href="{% url 'dropmessage' %}">Drop Message</a> 
      </p>
    </div>
  </section>



  <div class="album py-5 ">
    <div class="container">

      <div class="row">
	{% for project in projects.all%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
		    <p class="card-text"> {{project.discription}} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
		  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button > -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
	{% endfor %}
      </div>
    </div>
  </div>

     <div class="my-3 p-3 bg-white rounded shadow-sm container">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent Bugs and Errors</h6>
    {% for bug in bugs.all%}
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <a href="{% url 'bug_details' bug.id %}" style="float:left;"><strong class="d-block text-dark" style="font-size: 16px" >{{bug.issue}} </a> {{" | "}} <span style="font-size: 14px;
      {% if bug.status %}
      	color:green
	{% else %}
	color:red
	{% endif %}
		      ">
		      {{bug.bug_status}}
	      </span> </strong>
      {{bug.summary}}
      </p>

    </div>
    {% endfor %}

    <small class="d-block text-right mt-3">
	    <a href="{% url 'bug_index' %}">All updates</a>
    </small>
  </div>


</main>





{% include 'base/footer.html'%}
{% include 'base/javascript.html'%}
 </body>
</html>

